/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 /* * {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
} */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}
 .primary-color {
    color:black;

 }

 .secondary-color {
    color:rgb(34, 224, 34)


 }
  .bg-light {
    background-color: rgb(244, 247, 244);
  }
  .btn-primary {
    background-color: rgb(7, 219, 25);
    color:white;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    margin-left: 5px;

  }


/* Header styles  */


/*  Navbar related styles  */
.navbar {
    justify-content: space-between;
    /* padding-top: 20px; */
    
}

.nav-item {
    list-style: none;
    margin-right: 30px;


}
.nav-link{ 
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-weight: 600;
    
}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    border: 2px solid rgb(20, 19, 19);
}

.banner-left {
    border: 5px solid red ;
    width: 50%;
}

.banner-right {
    border: 5px solid blue;
    width: 50%;
    
}
.banner-title{
    font-size: 75px;
    font-weight: 700;

}

.banner-description {
    font-size: 22px;
    
}